@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Zen+Dots&display=swap");

.app {
  margin: auto;
  width: 85%;
}

.search-container {
  margin: 50px 0px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.search-container input {
  box-sizing: border-box;
  padding: 0px 10px;
  font-size: large;
  height: 50px;
  width: 30%;
  border-color: black;
  border-width: 1px;
  border-radius: 6px 0px 0px 6px;
  border-right: none;
  background-color: #ffffff;
  color: rgb(43, 43, 43);
}
.search-container input::placeholder {
  color: rgb(90, 90, 90);
}
.search-container input:focus {
  outline: none;
}
.search-container button {
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  background-color: #ff7b00;
  color: white;
  /* padding-left: 5px; */
  font-size: larger;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 6px 6px 0px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
}

.search-container button:hover {
  background-color: #fa973a;
}
.header {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  /* border: 1px solid black; */
  margin-right: 105px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  margin-left: -20px;
  width: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 450px;
  box-shadow: 0px 0px 10px 0 #a9a9a9;
  box-sizing: border-box;
  border-radius: 5px;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-weight: 500;
}
.card h4 {
  color: white;
  font-weight: 400;
  text-align: center;
  width: 50px;
  border-radius: 5px;
  /* background-color: #48c479; */
}
.hotel-extra-details {
  font-size: medium;
  display: flex;
  gap: 70px;
}
.card > img {
  width: 100%;
  border-radius: 5px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-list-shimmer {
  display: flex;
  flex-wrap: wrap;
}

.card-shimmer {
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px 0 #a9a9a9;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
}

.img-shimmer {
  background-color: rgb(214, 213, 213);
  width: 100%;
  height: 50%;
  border-radius: 2px;
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

.heading-shimmer {
  background-color: rgb(221, 218, 218);
  width: 90%;
  height: 10%;
  margin-top: 10px;
  border-radius: 2px;
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}
.details-shimmer {
  background-color: rgb(238, 238, 238);
  width: 70%;
  height: 7%;
  margin: 10px 0px 0px 0px;
  border-radius: 2px;
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.error-container {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  height: 100vh;
  background-color: #ecf0f1;
  text-align: center;
  overflow-y: hidden;
}
.error-container > img {
  margin-top: 10%;
  width: 256px;
  height: 225px;
}

.error-container > span {
  font-size: 3rem;
  font-weight: bold;
}

html {
  margin: 0;
  padding: 0;
}

.hero-section {
  font-family: "Fira Code", monospace;
  display: flex;
  justify-content: center;
  background-color: #171a29;
  color: white;
  margin: 10px;
  padding: 40px;
  border-radius: 5px;
}

.hero-section > h1 {
  font-weight: 300;
  font-size: 32px;
}
.hero-section > img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.hero-section-details > span {
  margin-bottom: 30px;
}
.hero-section-details {
  margin-left: 80px;
}
.hero-section-extra-details {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding-top: 20px;
  font-weight: 600;
  font-size: 16px;
}

.hero-section-extra-details .item {
  padding-right: 35px;
  border-right: 1px solid white;
}
.hero-section-extra-details .item2 {
  font-weight: 200;
  font-size: 14px;
}
.menu-section {
  background-color: #f8fcfd;
  width: 60%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 10px;
  justify-content: center;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid black;
}
.item-img > img {
  width: 150px;
  height: 100px;
}

.item-details {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.item-name {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.item-desc {
  color: #666666;
}
.item-img {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.add-to-cart-btn {
  font-family: "Poppins", sans-serif;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.footer {
  font-family: "Poppins", sans-serif;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.footer h1 {
  text-align: center;
  font-size: small;
  font-weight: 400;
}
